div.lighter {
    filter: brightness(70%);
}
div.lighter:hover {
    filter: brightness(100%);
}
div.darker {
    filter: brightness(100%);
}
div.darker:hover {
    filter: brightness(70%);
}